.heading {
    text-align: center;
}

.text {
    padding: 16px;
    text-align: center;
}

.button {
    background-color: #922790;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    border-radius: 25px;
    
}

.button a {
    color: white;
    text-decoration: none;
}

.button:hover {
    background-color: #7E247C;
}

.button_div {
    text-align: center;
}